
h1{
	color: black;
	text-align: center;
}
#left{
	float: left;
	background-color: grey;
	width: 25%;
	height: 25%;
	border: 2px solid black;
}
#mid{
	float: left;
	background-color: grey;
	width: 25%;
	height: 25%;
	border: 2px solid black;
	margin-left: 150px;
}
#right{
	float: right;
	background-color: grey;
	width: 25%;
	height: 25%;
	border: 2px solid black;
}
p{
	margin-top: 40px;
	margin-left: 10px;
	margin-right: 10px;
}
.pink{
	float: right;
	margin-top: 0px;
	background-color: pink;
	color: black;
	border: 2px solid black;
}
.red{
	float: right;
	margin-top: 0px;
	background-color: red;
	color: white;
	border: 2px solid black;

}
.yellow{
	float: right;
	margin-top: 0px;
	background-color: yellow;
	color: black;
	border: 2px solid black;
}
h2{
	text-align: top;
}
@media (max-width: 767px){
  #left {
   width:100%;
   margin-right: 20px;
}

  #mid{
    margin-left: 0px;
	width:100%;
}
   #right{

	width: 100%;
}
}
@media(min-width: 992px){
	#left {

     width: 25%;
	}
	#mid {
		width: 25%;
	}
	#right {
		width: 25%;
	}
}
@media(min-width: 768px) and (max-width: 991px){
	#left{
		width:49%;
	}
	#mid{
		margin-left: 0px;
		margin-right: 0px;
		width:49%;
	}
	#right{
		width: 100%;
	}
}
